body{
        background-image: url('background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
}
    .btn{
        width: 5;
        height: 1;
        background-color: whitesmoke;
        border-radius: 10px;
        border: 2px solid whitesmoke;
    }
    a{
        color: black;
        font-size: 4;
        font-family: cursive;
    }